<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess Game</title>
    <style>
        h1{
            padding: 10px;
            margin: auto;
            
            color: blueviolet;
            background-color: antiquewhite;
            text-align: center;
            text-shadow: 2px 2px 5px green;
        }
    </style>
</head>
<body>
    <h1>Guess Game</h1>
    <script src="../js/game.js"></script>
</body>
</html>